.video_detail {
  margin-top: 125px;
}

.videoDetail_link {
  width: 100px;
  height: 120px;
}

.videoDetail_title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
}

.videoDetail_desc {
  text-indent: 30px;
  font-size: 16px;
  display: block;
  text-align: justify;
}

.videoDetail_feedList {
  margin-left: -20px;
  width: 145%;
}
